body{
    margin: 0;
    font-family: "Comic Sans MS",sans-serif;
}
h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
}
div{
    background-color: orange;
    padding: 10px;
    text-align: center;
}
section{
    background-color: lightgray;
    text-align: center;
    padding: 15px;
}
button{
    font-size: 18px;
    color: white;
    border: none;
}
#add-item{
    background-color: forestgreen;
}
#delete-item{
    background-color: red;
}